<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png')}}">
    <title>Web Transfer Logs</title>

</head>
<body>

    <div class="navbar">
        <div class="icon">
            <img src="{{ url_for('static', filename='img/Prometeo-blanco.png')}}" width=150/>
        </div>

        <div class="menu">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">APIs</a></li>
                <li><a href="#">DOCUMENTATION</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </div>
    </div>
    
    <div class="content">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
    </div>
    
    <div class="content">
        <div class="main">
            <div class="left">
                <form method="post">
                    <h2 for="title">Consulta tus pagos</h2><br>
                    <label for="">Desde: </label><br>
                    <input class="date" type="text" id="date_start" name="date_start" placeholder=" DD/MM/YYYY"><br><br>
                    <label for="">Hasta: </label><br>
                    <input class="date" type="text" id="date_end" name="date_end" placeholder=" DD/MM/YYYY"><br><br>
                    <label for="">Tu API Key: </label><br>
                    <input class="date" type="password" id="apikey" name="apikey" ><br><br>
                    <input class="submit" type="submit" value="Consultar">
                </form>
            </div>
            <div class="right">
                <img src="{{ url_for('static', filename='img/Pagos.png')}}" alt="Pagos cuenta a cuenta" title="Pagos cuenta a cuenta" width="400"/>
            </div>
        </div>
    </div>
    
    <div class="content_table"> 
        <br>
        <h2>Tabla de pagos A2A </h2>
        <h4>{{dates}}</h4>
        <br>
        <a class="download" href="{{ url_for('download_file', filename=csv_name)}}">Descargar CSV</a>
        <br>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">PROMETEO ID</th>
                    <th scope="col">C. ORIGEN</th>
                    <th scope="col">BANCO ORIGEN</th>
                    <th scope="col">C. RECAUDADORA</th>
                    <th scope="col">BANCO DESTINO</th>
                    <th scope="col">N. DESTINATARIO</th>
                    <th scope="col">MONEDA</th>
                    <th scope="col">MONTO</th>
                    <th scope="col">CONCEPTO</th>
                    <th scope="col">FECHA</th>
                    <th scope="col">ESTADO</th>
                    <th scope="col">NRO OPERACION</th>         
                </tr>
            </thead>
            <tbody>
                {% for pago in lista_pagos %}
                <tr>
                    <td>{{ pago.request_id }}</th>
                        <td>{{ pago.origin_account }}</td>
                        <td>{{ pago.provider_origin }}</td>
                        <td>{{ pago.destination_account }}</td>
                        <td>{{ pago.destination_institution.name }}</td>
                        <td>{{ pago.destination_name }}</td>
                        <td>{{ pago.currency }}</td>
                        <td>{{ pago.amount }}</td>
                        <td>{{ pago.concept }}</td>
                        <td>{{ pago.created_at }}</td>
                        <td>{{ pago.status }}</td>
                        <td>{{ pago.operation_id }}</td>         
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </body>
    </html>